---
---

@import "{{ site.theme }}";

body {
	font-family: 'Montserrat'
}

h1,
h2,
h3 {
	font-family: 'Montserrat'
}

h4,
h5,
h6 {
	font-family: 'Montserrat'
}

code,
pre {
	font-family: 'Montserrat'
}

th {
	font-family: 'Montserrat'
}

h1.header {
	font-family: 'Montserrat'
}
